fastapi==0.115.12
httpx==0.28.1
psutil==7.0.0
uvicorn[standard]==0.34.2
opentelemetry-api==1.33.1
opentelemetry-sdk==1.33.1
opentelemetry-exporter-otlp-proto-http==1.33.1
opentelemetry-instrumentation-fastapi==0.54b1
opentelemetry-instrumentation-httpx==0.54b1
